*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 600px;
    height: 600px;
    padding: 0px;
}

.containerLine{
    display: flex;
    flex-direction:column;
    flex :1;
}

.lineItem{
    border : 1px solid black;
    flex : 1;
}